{% extends "base.html" %}

{% block content %}

<div class="tool-page">

    <div class="glass-card upload-card">

        <div class="upload-header">

            <h1>🔐 Protect PDF</h1>

            <p>
                Add password protection to your PDF files.
            </p>

        </div>

        <form
            action="/protect-pdf"
            method="POST"
            enctype="multipart/form-data"
        >

            <label class="drop-zone">

                <input
                    type="file"
                    name="pdf"
                    accept=".pdf"
                    required
                >

                <div class="upload-content">

                    <div class="upload-icon">
                        <i class="fas fa-lock"></i>
                    </div>

                    <h2>
                        Upload PDF
                    </h2>

                    <p>
                        Drag & Drop or click to browse
                    </p>

                </div>

            </label>

            <input
                type="password"
                name="password"
                placeholder="Enter PDF Password"
                required
                class="premium-input"
            >

            <button
                type="submit"
                class="premium-btn"
            >
                Protect PDF
            </button>

        </form>

    </div>

</div>

{% endblock %}